body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
}
/* Add a dark background color with a little bit see-through */
.navbar{
  background-color: #2d2d30;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;

}


/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
    padding: 20px;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.col-sm-4{
  padding-top: 50px;
  padding-bottom: 20px;
}

#adjust{
  padding-top: 12px;
}

footer{
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 7%;
}

foot p{
  color: #fff;
}

/*-----------FORM LOGIN---------------*/
#formlogin{
  margin-top: 70px;
}

#formlogin h2{
  font-family: sans-serif;
}

/*-----------REGISTER LOGIN---------------*/
#reg{
  margin-top: 70px;
}

#reg h2{
  font-family: sans-serif;
}
